.App {
  text-align: center;
  background-color: #383d46;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: rgb(255, 205, 60);
}
.off {
  color: #ccc;
}
.star-rating span{
  font-size: 2rem;
}